# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_URL=
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_SUPABASE_PROJECT_NAME=
NEXT_PUBLIC_SUPABASE_PROJECT_DATABASE_PASSWORD=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_PROJECT_ANON=
NEXT_PUBLIC_SUPABASE_PROJECT_SERVICE_ROLE=